{#
/**
 * @file content_role.html.twig
 * Default theme implementation to present Content role data.
 *
 * This template is used when viewing Content role pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_content_role()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('content_role') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
